<center>
    <div style="border-radius:10px 10px 0px 0px;background-color:black;width:600px;margin-top:30px">
        <img src="" width="301px" style="margin-top:51px;">
        <p style="font-size:18px;color:white;padding-bottom: 65px;font-weight: bold;margin: 0;">Sitepower.io Registration</p>
    </div>
    <div style="background:white;box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.16);width:600px;padding-bottom: 60px;">
        <p class="text">Hello!  Use the link below to register</p>
        <a href='%%LINK%%'>%%LINK%%</a>
    </div>
</center>
